name: Flight Scraper

on:
  workflow_dispatch:

jobs:
  db-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install psycopg2-binary

      - name: Run scraper.py
        env:
          DB_HOST: ${{ secrets.DB_HOST }}        # aws-1-ap-south-1.pooler.supabase.com
          DB_PORT: ${{ secrets.DB_PORT }}        # 5432
          DB_NAME: ${{ secrets.DB_NAME }}        # postgres
          DB_USER: ${{ secrets.DB_USER }}        # postgres.sbaweaytsmdmhaclgcwr
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: python -u scraper.py
